<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup - CryptoSignal</title>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/user_signup.css' %}">
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar">
      <div>
        <img src="/static/assets/imgs/logo.png" alt="Company Logo" />

        <h1>CryptoSignal</h1>
      </div>
      <h4>Already have an account?</h4>
      <a href="{% url 'user_login' %}" class="signin-link"> Sign In</a>
    </div>

    <div class="signup-container">
      <h2>Sign Up</h2>
      <p>Join the community and unleash endless possibilities</p>

      <form action="{% url 'user_signup' %}" method="post">
        {% csrf_token %}

        <!-- firstname -->
        <label for="firstname">First Name* :</label><br/>   
        <input type="text" id="firstname" name="firstname" required />

        <!-- lastname -->
        <label for="lastname">Last Name* :</label><br/>  
        <input type="text" id="lastname" name="lastname" required />

        <!-- Username -->
        <label for="username">Username* (5-16 characters) :</label><br/>    
        <input type="text" id="username" name="username" required />

        <!-- E-Mail Address -->
        <label for="email">E-Mail Address* :</label><br/>        
        <input type="email" id="email" name="email" required />

        <!-- Mobile -->
        <label for="mobile">Mobile* :</label><br/>          
        <input type="tel" id="mobile" name="mobile" required />
        <span id="mobile-code-info"></span>
        <!-- Display the mobile code here -->

        <!-- Password -->
        <label for="password">Password* (8-16 characters) :</label><br/> 
        <input type="password" id="password" name="password" required />

        <!-- Confirm Password -->
        <label for="confirm_password">Confirm Password* :</label><br/>
        <input
          type="password"
          id="confirm_password"
          name="confirm_password"
          required
        />

        <!-- Terms and Conditions -->
        <div class="terms-checkbox">
          <input type="checkbox" id="agree_terms" name="agree_terms" required />
          <label for="agree_terms"
            >I agree with Privacy Policy, Terms of Service, Trade Policy</label
          >
        </div>

        <!-- Register Button -->
        <button type="submit">Register</button>
      </form>
    </div>
      <!-- Footer -->
      <div class="footer">
        &copy; 2024 CryptoSignaL. All rights reserved.
    </div>
  </body>
</html>
