<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoSignaL</title>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    
<!-- #javascript for the crypto-table and live-table -->
<script>
</script>

</head>

<body>
    <body style="margin: 0;
     font-family: Arial, sans-serif; 
     background-image: url('{% static 'assets/imgs/background.jpg' %}'); 
     background-size: cover; 
     background-position: center; 
     margin-bottom: 200px;">
    
    <nav>
        <div class="logo">
            <img src="{% static 'assets/imgs/logo.png' %}" alt="CryptoSignaL Logo" width="40">
        </div>
        <a href="#" class="navbar-brand">CryptoSignaL</a>

        <ul class="navbar-options">
            <li><a href="#">Market</a></li>
            <li><a href="#">Trade</a></li>
            <li><a href="#">Cryptocurrency</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div class="login-signup">
            <div class="login">
                <a href="#">Login</a>
            </div>
            <a href="#" class="signup-button">Signup</a>
        </div>
    </nav>

    <!-- Your webpage content goes here -->
    <h1>Trade Your Crypto</h1>
    <h1>on <span style="color: yellow;">CryptoSignaL</span></h1>
    <h1>without worries</h1>
    <p>Signup & explore your trading partner</p>
    <p><a href="#" class="signup-button">Signup</a></p>

    <!-- Live text and animated GIF container -->
    <div class="live-text-container">
        <div class="live-text"><h3>Power Of Crypto</h3></div>
        <!-- Replace the placeholder with your actual animated GIF -->
        <img src="{% static 'assets/imgs/bitcoin1.gif' %}" alt="Live Animation" class="live-gif">
    </div>

    <div id="crypto-table">
        <!-- Table will be added here -->
      </div>

      <script src="{% static 'assets/js/home.js' %}"></script>

</body>

</html>
