<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoSignaL</title>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- #javascript for the crypto-table and live-table -->
    <script>
        // Your scripts go here
    </script>
</head>
<body style="margin: 0;
     font-family: Arial, sans-serif; 
     background-image: url('{% static 'assets/imgs/background.jpg' %}'); 
     background-size: cover; 
     background-position: center; 
     margin-bottom: 200px;">

    <nav>
        <div class="logo">
            <img src="{% static 'assets/imgs/logo.png' %}" alt="CryptoSignaL Logo" width="40">
        </div>
        <a href='{% url "home" %}' class="navbar-brand">CryptoSignaL</a>

        <ul class="navbar-options">
            <li><a href="{% url 'market' %}">Market</a></li>
            <li><a href="{% url 'trade' %}">Trade</a></li>
            <li><a href="{% url 'cryptocurrencies' %}">Cryptocurrency</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>

        <div class="login-signup">
            <div class="login">
                <a href="#">Login</a>
            </div>
            <a href="{% url 'user_signup' %}" class="signup-button">Signup</a>
        </div>
    </nav>

    <!-- Content block to be extended by specific pages -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer block -->
    <footer>
        <div class="footer-text">
            <p>&copy; 2024 CryptoSignaL. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
