<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoSignaL</title>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/market_data.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/about.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Pacifico&amp;family=Quicksand&amp;display=swap'><link rel="stylesheet" href="{% static 'assets/css/contact.css' %}">    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">


   
   


</head>
<body style="margin: 0;
     font-family: Arial, sans-serif; 
     background-image: url('{% static 'assets/imgs/background.jpg' %}'); 
     background-size: cover; 
     background-position: center; 
     margin-bottom: 200px;">

    <nav>
        <div class="logo">
            <img src="{% static 'assets/imgs/logo.png' %}" alt="CryptoSignaL Logo" width="40">
        </div>
        <a href="{% url 'home' %}" class="navbar-brand">CryptoSignaL</a>

        <ul class="navbar-options">
            <li><a href="{% url 'market_data' %}">Market</a></li>
            <li><a href="{% url 'trade' %}">Trade</a></li>
            <li><a href="{% url 'crypto_list' %}">Cryptocurrency</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>

        {% if user.is_authenticated %}
        <!-- If the user is authenticated, show the logout button -->
        <div class="login-signup">
            <div class="login">
                <a href="{% url 'user_logout' %}">Logout</a>
            </div>
        </div>
    {% else %}
        <!-- If the user is not authenticated, show the login and signup buttons -->
        <div class="login-signup">
            <div class="login">
                <a href="{% url 'user_login' %}">Login</a>
            </div>
            <a href="{% url 'user_signup' %}" class="signup-button">Signup</a>
        </div>
    {% endif %}
    </nav>


    <div id="content">
        {% block content %}
        
        
        {% endblock %}
    </div>






    <footer>
        <div class="footer-text">
            <p>&copy; 2024 CryptoSignaL. All Rights Reserved.</p>
            <div class="quick-links"> 
                <a href="#">Trade</a> 
                <a href="#">Market</a> 
                <a href="#">Cryptocurrency</a> 
                <a href="#">Company</a> 
                <a href="#">Home</a> 
                <a href="#">About</a> 
                <a href="#">Contact</a> 
                <a href="#">Legal</a> 
                <a href="#">Trade Policy</a> 
                <a href="#">Terms of Service</a> 
                <a href="#">Privacy Policy</a> 
            </div> 
        </div>
    </footer>


 <!-- #javascript for the crypto-table and live-table -->
    <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
  nomodule
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
  <script src="{% static 'assets/js/about.js' %}"></script>
  <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
  <script src='https://unpkg.com/feather-icons'></script><script  src="{% static 'assets/js/contact.js' %}"></script>
</body>
</html>
